@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --main: #03072a;
  --pink: #f74d89;
  --blue: #000957;
  --shadow: rgba(0,0,0,0.15);
  --main-font:'Playfair Display', serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#000957,#4C0070,#7d0668);
    
}
.wapper{ 
    width: 30rem;
    position: absolute;
    border-radius: 30px;
    padding: 25px 30px;
    background: var(--main);
    box-shadow: 0px 15px 15px var(--shadow);
}
.wapper .top-bar i{
    cursor: pointer;
    color: white;
}
.top-bar, .progress-area .timer ,
.controls , .music-list .header,.music-list li  {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-bar span{
    font-size: 1.5rem;
}
.img-area{
    height: 25rem;
    width: 25rem;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow:0px 6px 12px var(--shadow); 

}
.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.song-details{
    text-align: center;
    margin: 30px 0;
    color: white;
    

}
.song-details .name{
    font-size:1.7rem;
    font-family: var(--main-font);
}
.song-details .artist{
    
    font-size: 1.2rem; 
    

}
.progress-area{
    height: 6px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg,var(--blue) 0%,var(--pink)100%);

}


.progress-area .timer{
    margin-top: 2px;
    color: white;
}
.timer span{
    font-size: 13px;
    color: var(--lightblack);
}

.controls{
    margin: 40px 0 5px 0;
}

.controls i{
  cursor: pointer;
    font-size: 20px;
    user-select: none;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;

}
.controls #prev{
    margin-right: -13px;

}
.controls #next{
    margin-left: -13px;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    background: white;
    box-shadow: 0px 0px 5px var(--pink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-pause::before{
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--blue) 0%,var(--pink)100%);



}
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background-clip: text;
    background: inherit;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.music-list{
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 30rem;
    padding: 15px 30px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px -5px 10px rgba(0, 0, 0,0.1);
    transition: all 0.14s ease-out ;
    
      

}
/*for js */
.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
    background-color: white;

}
.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #03072a;
    font-family: var(--main);
    

}
.header .row i{
    cursor: pointer;
    
}
#close{
  cursor: pointer;
}
.header .row span{
    margin-left: 5px;
    color: #000957;
}
.header #close{
    font-size: 22px;
    color: #03072a;
}
.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
    background-color: white;
    
}
.music-list ul::-webkit-scrollbar{
    width: 0px;
}
.music-list ul li{
    cursor: pointer;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--blue);
    border-bottom: 1px solid #7d0668;
    font-family: var(--main-font);

}
.music-list ul li:last-child{
    border-bottom: 0px;
}
.music-list ul li .row span{
    font-size: 1.2rem;
}
ul li .row p{
    opacity: 0.9;

}
ul li .audio-duration{
    font-size: 16px;
}

ul li.playing{
    color: var(--violet);
    pointer-events: none;

}
